@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
  body{
    font-family: 'Lora', serif;
    
  }
/* nav */

.navbar-dark .navbar-nav .nav-link{
    color: rgb(255, 255, 255);
}
.bg-dark{
  background-color: #212529;

}
#logo {
  width: 40px;


}
.header {
  position: fixed; /* fixing the position takes it out of html flow - knows
                   nothing about where to locate itself except by browser
                   coordinates */
  left: 0; /* top left corner should start at left most spot */
  top: 0; /* top left corner should start at top most spot */
  width: 100vw; /* take up the full browser width */
  z-index: 200; /* high z index so other content scrolls underneath */
  height: 100vh; /* define height for content */
}

/* About */
.image {
    height: 100vh;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    overflow:hidden
 }
 /*   Home */

.container {
  display: grid;
  grid-template-columns: 50fr 50fr;
  height: 100vh;
}
.left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.right {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}


/* Account */
.modal-header{
  border-bottom: 0px;
}
.modal-footer{
  border-top: 0px;
}
.btn-primary{
  display: none;
}
.btn-primary:hover{
  color: transparent ;
background-color: transparent;
border-color: transparent;
}
.btn, .btn-secondary{
  margin-right: 1em;
margin-left: 0px;
width: 18.8rem;
text-align: center;

}
.modal-dialog,.modal-md{
  margin-top: 6.75rem;
}